@using WeatherApp.Models
@model IEnumerable<CityWeather>

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/Styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom">
                <h1>Weather</h1>
            </div>
        
            <div class="margin-top-200 margin-left">
                <div class="flex">
                    @foreach(CityWeather weather in Model)
                    {
                        @await Html.PartialAsync("_CityPartialView", weather);
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

